body {
  margin: 0;
  padding: 0;
}

.p-header {
  width: 100%;
  height: 50px;
  background: #fafafa;
}

.p-main {
  height: calc(100vh - 150px);
}

.p-main__menu {
  width: 200px;
  height: 100%;
  float: left;
  background: #eee;
}

.p-main__content {
  width: calc(100% - 200px);
  float: left;
  background: #fff;
}

.p-footer {
  color: #fff;
  height: 100px;
  background: #333;
}

.cf {
	display: block;
}

.cf:before,
.cf:after {
	content: "";
	display: block;
	clear: both;
}
