body {
  margin: 0;
  padding: 0;
}

.p-header {
  width: 100%;
  height: 50px;
  background: #fafafa;
}

.p-main {
  height: calc(100vh - 150px);
  display: flex;
}

.p-main__menu {
  flex-basis: 200px;
  background: #eee;
}

.p-main__content {
  background: #fff;
}

.p-footer {
  color: #fff;
  height: 100px;
  background: #333;
}